{% extends 'base.html' %}
{% load static %}
{% block jquery %}<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>{% endblock %}
{% block script %}<script src="{% static 'js/script.js' %}" defer></script>{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/styles-ap_home.css' %}">{% endblock %}
{% block media %}<link rel="stylesheet" href="{% static 'css/medias-query.css' %}">{% endblock %}
{% block content %}
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <img src="{% static 'images/moca.png' %}" alt="" class=" img-banner">
            </div>
        </div>
    </div>
    {% include 'footer.html'%}
{% endblock %}