@media (max-width: 1150px){

     .col-12 {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
     }

     /* Container desktop removido */
     .container-desktop {
          display: none;
     }

     /* Container mobile acrescentado */
     .container-mobile {
          display: block;
     }

     .img-banner {
          width: 100%;
          height: 230px;
     }

     /* SECTION FOOTER */

     .container-footer {
          text-align: center;
     }

     .container-enterprise {
          flex-direction: column;
     }

     .container-enterprise-img {
          justify-content: center;
          margin: 20px 0 30px 50px;
     }

     .container-certification-1 {
          flex-direction: column;
     }

     .container-career, .container-developer-web, .container-certification-TI, .container-certification-leader {
          display: none;
     }

}

@media (max-width: 550px){
     /* SECTION FOOTER */

     .img-enterprise {
          width: 90px;
     }

     .container-footer {
          text-align: start;
     }
}

@media (max-width: 767px) {
     .container-carreer-profission, .container-carreer-web, .container-carreer-TI, .container-carreer-leader {
          display: none;
          margin-left: 20px;
     }

     .container-carreer .col-12 p {
          position: relative;
          cursor: pointer;
          padding-left: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid rgb(255, 255, 255);
     }

     .container-carreer p .bi-caret-down-fill {
          display: inline;
          position: absolute;
          top: 35%;
          left: 95%;      
     }

     .container-carreer p .bi-caret-up-fill {
          display: inline;
          position: absolute;
          top: 35%;
          left: 95%;      
     }

 

}