{% load static %}
<section class="sec-categories">
    <h1 class="text-center" style="margin-top: 100px;">Principais categorias</h1>
    <div class="container-categories">
        <div class="categories-group-1 d-flex justify-content-center">
            <div class="container-category">
                <a href="#" class="text-decoration-none text-dark text-center">
                    <img src="{% static 'images/images_categories/design.webp' %}" alt="" >
                    <h5>Design</h5>
                </a>      
            </div>

            <div class="container-category">
                <a href="#" class="text-decoration-none text-dark text-center">
                    <img src="{% static 'images/images_categories/development.webp' %}" alt="" >
                    <h5>Desenvolvimento</h5>
                </a>      
            </div>

            <div class="container-category">
                <a href="#" class="text-decoration-none text-dark text-center">
                    <img src="{% static 'images/images_categories/marketing.webp' %}" alt="" >
                    <h5>Marketing</h5>
                </a>     
            </div>

            <div class="container-category">
                <a href="#" class="text-decoration-none text-dark text-center">
                    <img src="{% static 'images/images_categories/ti-software.webp' %}" alt="" >
                    <h5>TI e Software</h5>
                </a> 
            </div>

        </div>

        <div class="categories-group-2 d-flex justify-content-center gap-3">

            <div class="container-category">
                <a href="#" class="text-decoration-none text-dark text-center">
                    <img src="{% static 'images/images_categories/development-personal.webp' %}" alt="" >
                    <h5>Desenvolvimento Pessoal</h5>
                </a>      
            </div>

            <div class="container-category">
                <a href="#" class="text-decoration-none text-dark text-center">
                    <img src="{% static 'images/images_categories/business.webp' %}" alt="" >
                    <h5>Negócios</h5>
                </a>      
            </div>

            <div class="container-category">
                <a href="#" class="text-decoration-none text-dark text-center">
                    <img src="{% static 'images/images_categories/photography.webp' %}" alt="" >
                    <h5>Fotografia</h5>
                </a>   
            </div>

            <div class="container-category">
                <a href="#" class="text-decoration-none text-dark text-center">
                    <img src="{% static 'images/images_categories/music.webp' %}" alt="" >
                    <h5>Música</h5>
                </a>
             
            </div>     

        </div>
    </div>
</section>