{% load static %}
<section class="container-fluid section-enterprises mt-3 p-4">
      <h4 class="text-center mb-5">Mais de 17.200 empresas e milhões de alunos em todo o mundo confiam em nós</h1>
    <div class="container-enterprise d-flex justify-content-center gap-5">
      
        <div class="container-group-enterprise-1 d-flex gap-5 justify-content-center">
            <img src="{% static 'images/images_enterprise/volkswagen.svg' %}" alt="logo-volkswagen">
            <img src="{% static 'images/images_enterprise/samsung.svg' %}" alt="logo-samsung">
            <img src="{% static 'images/images_enterprise/cisco.svg' %}" alt="logo-cisco">
            <img src="{% static 'images/images_enterprise/att.svg' %}" alt="logo-att">
            
        </div>

        <div class="container-group-enterprise-1 d-flex gap-5 justify-content-center">
            <img src="{% static 'images/images_enterprise/procter_gamble.svg' %}" alt="logo-procter">
            <img src="{% static 'images/images_enterprise/hewlett_packard_enterprise.svg' %}" alt="logo-hewlett">
            <img src="{% static 'images/images_enterprise/citi.svg' %}" alt="logo-citi">
            <img src="{% static 'images/images_enterprise/ericsson.svg' %}" alt="logo-ericsson">

        </div>
    </div>
</section>