<section class=" sec-courses mt-4 p-3">
    <h1>Uma ampla seleção de cursos</h1>
    <h5 class="text w-50">Escolha entre mais de 250.000 cursos em vídeo online com novas adições publicadas mensalmente</h5>

    <div class="tips-courses d-flex gap-5">
        <p class="fw-bold">Python</p>
        <p>Microsoft Excel</p>
        <p>Desevolvimento Web</p>
        <p>JavaScript</p>
        <p>Data Science</p>
        <p>Amazon AWS</p>
    </div>
    
    <div class="container-information-courses border p-4">
        <h3>Amplie suas oportunidades de carreira com Python</h3>
        <p class="fs-5 w-50">Se você trabalha com machine learning ou finanças, ou está buscando uma carreira em desenvolvimento web ou ciência de dados, o Python é uma das habilidades mais importantes que você pode aprender. A sintaxe simples do Python é especialmente adequada para aplicativos de desktop, web e negócios.</p>
        <a href="#" class="btn btn-primary">Explorar Python</a>

    </div>
</section>