{% load static %}
<section class="container-fluid ps-0 pe-0 container-footer mt-5 pt-5 pb-5">
    <div class="container-enterprise d-flex">
        <p class="fs-4 ms-5">As melhores empresas escolhem a <span class="text-primary fw-bold">Udemy Business</span> para desenvolver as<br> habilidades de carreira necessárias.</p>
        <div class="container-enterprise-img d-flex gap-4 me-5">
            <img src="{% static 'images/nasdaq-light.svg' %}" alt="logo-nasdaq" width="150px" class="img-enterprise">
            <img src="{% static 'images/volkswagen-light.svg' %}" alt="logo-volkswagen" width="50px">
            <img src="{% static 'images/netapp-light.svg' %}" alt="logo-netapp" width="150px" class="img-enterprise">
            <img src="{% static 'images/eventbrite-light.svg' %}" alt="logo-eventbrite" width="150px" class="img-enterprise">
        </div>
    </div>
</section>

<section class="container-fluid container-carreer p-3">
    <div class="row justify-content-around">
        <div class="col-md-2 col-12">
            <p class="fs-4 text-white container-off container-off-profission">Carreiras em alta <i class="bi bi-caret-down-fill fs-6"></i></p>
            <div class="container-carreer-profission flex-column">
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Cientista de dados</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Desenvolvedor(a) de web full-stack</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Engenheiro(a) de nuvem</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Gerente de projetos</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Desenvolvedor(a) de game</a> 
            </div>               
        </div>

        <div class="col-md-2 col-12">
            <p class="fs-4 text-white container-off container-off-web">Desenvolvimento Web <i class="bi bi-caret-down-fill fs-6"></i></p>
            <div class="container-carreer-web flex-column">
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Desenvolvimento Web</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">JavaScript</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">React JS</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Angular</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Java</a>
            </div>   
        </div>

        <div class="col-md-2 col-12">
            <p class="fs-4 text-white container-off container-off-TI">Certificações de TI <i class="bi bi-caret-down-fill fs-6"></i></p>
            <div class="container-carreer-TI flex-column">
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Amazon AWS</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">AWS Certified Cloud Practitioner</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">AZ-900: Microsoft Azure Fundamentals</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">AWS Certfied Solutions Architect - Associate</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Kubernetes</a>
            </div>  
        </div>

        <div class="col-md-2 col-12">
            <p class="fs-4 text-white container-off container-off-leader">Liderança <i class="bi bi-caret-down-fill fs-6"></i></p>
            <div class="container-carreer-leader flex-column">
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Liderança</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Habilidades de gestão</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Gestão de projetos</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Produtividade pessoal</a>
                <a href="#" class="text-decoration-none text-white mb-3 fs-5">Inteligência emocional</a>
            </div>   
        </div>
    </div>
</section>

<section class="container-fluid container-get-know-udemy p-3">
    <div class="row justify-content-around mt-5">
        <div class="col-md-2 col-12">
            <p class="fs-4 text-white">Sobre</p>
            <div class="container-carrer-profission d-flex flex-column">
                <a href="#" class="text-decoration-none text-white mb-1 fs-5">Quem somos</a>
                <a href="#" class="text-decoration-none text-white mb-1 fs-5">Carreiras</a>
                <a href="#" class="text-decoration-none text-white mb-1 fs-5">Fale conosco</a>
                <a href="#" class="text-decoration-none text-white mb-1 fs-5">Blog</a>
                <a href="#" class="text-decoration-none text-white mb-1 fs-5">Investidores</a> 
            </div>               
        </div>

        <div class="col-md-2 col-12 d-flex flex-column">
            <p class="fs-4 text-white">Conheça a Udemy</p>
            <a href="#" class="text-decoration-none text-white mb-1 fs-5">Obtenha o aplicativo</a>
            <a href="#" class="text-decoration-none text-white mb-1 fs-5">Ensine a Udemy</a>
            <a href="#" class="text-decoration-none text-white mb-1 fs-5">Planos e preços</a>
            <a href="#" class="text-decoration-none text-white mb-1 fs-5">Afiliado</a>
            <a href="#" class="text-decoration-none text-white mb-1 fs-5">ajuda e suporte</a>
        </div>

        <div class="col-md-2 col-12 d-flex flex-column">
            <p class="fs-4 text-white">Udemy for Business</p>
            <a href="#" class="text-decoration-none text-white mb-1 fs-5">Udemy Business</a>
           
        </div>

        <div class="col-md-2 col-12 d-flex flex-column container-finally">
            <p class="fs-4 text-white">Jurídico e acessibilidade</p>
            <a href="#" class="text-decoration-none text-white mb-1 fs-5">Declaração de acessibilidade</a>
            <a href="#" class="text-decoration-none text-white mb-1 fs-5">Política de Privacidade</a>
            <a href="#" class="text-decoration-none text-white mb-1 fs-5">Mapa do site</a>
            <a href="#" class="text-decoration-none text-white mb-1 fs-5">Termos</a>
        </div>
    </div>
    <div class="row align-items-center mt-5 row-finally-footer">
        <div class="col-md-6 col-12 mt-5">
            <div class="container-finally-footer d-flex align-items-center ms-5">
                <img src="{% static 'images/logo-udemy-inverted.svg' %}" alt="logo-udemy" class="ms-5 logo-udemy-footer" width="120px" height="120px">
                <p class="fs-5 text-white mt-4">&nbsp;&nbsp;&nbsp;&nbsp;&copy; &nbsp;2025 Udemy, Imc.</p>
            </div>         
        </div>

        <div class="col-md-4 col-12">
            <p class="fs-4 p-footer text-white text-center">Configurações de cookie</p>
        </div>
    </div>
</section>